langchain
langchain-ollama
langchain-huggingface
langchain-google-genai
dotenv
Streamlit
langchain-groq
langchain-community
langgraph 
langchain.community
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
langchain-chroma